<!-- /.col (left) -->
<div class="col-md-12">
  <div class="box box-primary">
    <div class="box-header">
      <h3 class="box-title">Filtro por Fecha</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-md-6">
          <!-- Date -->
          <div class="form-group">
            <label>Fecha de Inicio:</label>

            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="datepicker">
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->
        </div>
        <div class="col-md-6">
          <!-- Date -->
          <div class="form-group">
            <label>Fecha de Término:</label>

            <div class="input-group date">
              <div class="input-group-addon">
                <i class="fa fa-calendar"></i>
              </div>
              <input type="text" class="form-control pull-right" id="datepicker2">
            </div>
            <!-- /.input group -->
          </div>
          <!-- /.form group -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- /.col (left) -->
<div class="col-md-12">
<!-- LINE CHART -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Valor del Dolar</h3>
    </div>
    <div class="box-body chart-responsive">
      <div class="row">
        <div class="col-md-8">
          <p class="text-center">
            <strong>Valor del Dolar</strong>
          </p>
          <div class="chart" id="line-chart-dolar" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-dolar">
              
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-4 col-xs-4">
          <div class="description-block border-right">
            <span class="description-percentage text-green" id="dolar-max"></span>
            <span class="description-text">VALOR MÁXIMO</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-4">
          <div class="description-block border-right">
            <span class="description-percentage text-red" id="dolar-min"></span>
            <span class="description-text">VALOR MÍNIMO</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-4">
          <div class="description-block border-right">
            <span class="description-percentage text-yellow" id="dolar-prom"></span>
            <span class="description-text">PROMEDIO</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.box -->
</div>

<!-- /.col (left) -->
<div class="col-md-12">
<!-- LINE CHART -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Valor del UF</h3>
    </div>
    <div class="box-body chart-responsive">
      <div class="row">
        <div class="col-md-8">
          <p class="text-center">
            <strong>Valor del UF</strong>
          </p>
          <div class="chart" id="line-chart-uf" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-uf">
              
            </dl>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <div class="row">
        <div class="col-sm-4 col-xs-4">
          <div class="description-block border-right">
            <span class="description-percentage text-green" id="uf-max"></span>
            <span class="description-text">VALOR MÁXIMO</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-4">
          <div class="description-block border-right">
            <span class="description-percentage text-red" id="uf-min"></span>
            <span class="description-text">VALOR MÍNIMO</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 col-xs-4">
          <div class="description-block border-right">
            <span class="description-percentage text-yellow" id="uf-prom"></span>
            <span class="description-text">PROMEDIO</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
  </div>
  <!-- /.box -->
</div>

<!-- /.col (left) -->
<div class="col-md-12">
<!-- LINE CHART -->
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Valor del Tasa Máxima Convencional</h3>
    </div>
    <div class="box-body chart-responsive">
      <div class="row">
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 26: Inferiores o iguales al equivalente de 5.000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 25: Superiores al equivalente de 5.000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc2" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc2">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 45: Inferiores o iguales al equivalente de 50 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc3" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc3">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 44: Inferiores o iguales al equivalente de 200 unidades de fomento y superiores al equivalente de 50 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc4" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc4">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 35: Inferiores o iguales al equivalente de 5.000 unidades de fomento y superiores al equivalente de 200 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc5" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc5">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 43: Operaciones cuyo mecanismo de pago consista en la deducción de las respectivas cuotas directamente de la pensión del deudor</strong>
          </p>
          <div class="chart" id="line-chart-tmc6" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc6">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 21: Menores a un año</strong>
          </p>
          <div class="chart" id="line-chart-tmc7" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc7">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 24: De un año o más. Inferiores o iguales al equivalente de 2000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc8" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc8">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 22: De un año o más. Superiores al equivalente de 2000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc9" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc9">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 41: Inferiores o iguales al equivalente de 2.000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc10" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc10">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 42: Superiores al equivalente de 2.000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc11" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc11">
              
            </dl>
          </div>
        </div>
        <br>
        <div class="col-md-8">
          <p class="text-center">
            <strong>Tipo 34: Superiores al equivalente de 5.000 unidades de fomento</strong>
          </p>
          <div class="chart" id="line-chart-tmc12" style="height: 300px;"></div>
        </div>
        <div class="col-md-4">
          <p class="text-center">
            <strong>Datos históricos</strong>
          </p>
          <div class="direct-chat-messages">
            <dl class="dl-horizontal" id="data-tmc12">
              
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<script type="text/javascript">
//Cuando el documento esté listo realizamos las consultas
  $(document).ready(function(){
    var fechaInicio = $("#datepicker").val();
    var fechaFin = $("#datepicker2").val();
    intervalo(fechaInicio, fechaFin);
  });

//Llenar los input de las Fechas para que no empiecen vacios
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();
  if(dd<10) {
      dd = '0'+dd
  } 
  if(mm<10) {
      mm = '0'+mm
  } 
  today = mm + '/' + dd + '/' + yyyy;

  $('#datepicker2').val(today);

  var init = new Date();
  init.setMonth(init.getMonth() - 1);
  var dd = init.getDate();
  var mm = init.getMonth()+1; //January is 0!
  var yyyy = init.getFullYear();
  if(dd<10) {
      dd = '0'+dd
  } 
  if(mm<10) {
      mm = '0'+mm
  } 
  init = mm + '/' + dd + '/' + yyyy;

  $('#datepicker').val(init);

  
  //Date picker Inicio
  $('#datepicker').datepicker({
    autoclose: true,
  })
  //Date picker Termino
  $('#datepicker2').datepicker({
    autoclose: true
  })

  $("#datepicker").on("change", function(){
    var fechaInicio = $("#datepicker").val();
    var fechaFin = $("#datepicker2").val();
    intervalo(fechaInicio, fechaFin);
  });

  $("#datepicker2").on("change", function(){
    var fechaInicio = $("#datepicker").val();
    var fechaFin = $("#datepicker2").val();
    intervalo(fechaInicio, fechaFin);
  });


  //Esta función hace asincronamente las diferentes consultas a la API de SBIF y llena la página para que sea dinámica
  function intervalo(fechaInicio, fechaFin){
    var dataDolar = [];
    var dataUF = [];
    var dataTMC = [];
    var dataTMC26 = [];
    var dataTMC25 = [];
    var dataTMC45 = [];
    var dataTMC44 = [];
    var dataTMC35 = [];
    var dataTMC43 = [];
    var dataTMC21 = [];
    var dataTMC24 = [];
    var dataTMC22 = [];
    var dataTMC41 = [];
    var dataTMC42 = [];
    var dataTMC34 = [];

    var dI = new Date(fechaInicio);
    var dF = new Date(fechaFin);
    var dayI = dI.getDate();
    var monthI = dI.getMonth();
    var yearI = dI.getFullYear();
    var dayF = dF.getDate();
    var monthF = dF.getMonth();
    var yearF = dF.getFullYear();
    
    $("#line-chart-dolar").html("");
    $("#line-chart-uf").html("");
    $("#line-chart-tmc").html("");
    $("#data-dolar").html("");
    $("#data-uf").html("");
    $("#data-tmc").html("");
    

    $.ajax({
      url: 'http://api.sbif.cl/api-sbifv3/recursos_api/dolar/posteriores/'+(yearI-1)+'?apikey=b8124793da9ca97350a3be40583dd49e1c07e51c&formato=json',
      type:  'get',
      success:  function (responseDolar) {
        data = responseDolar['Dolares'];
        maxDolar = 0;
        minDolar = 10000;
        promDolar = 0;
        iD=0;

        $.each(data, function(index, value){
          fecha = new Date(value['Fecha']);
          //Este extracto de código cambia el formato del JSON para poder manejar los valores como Float
          valorD = value.Valor;
          valorD = valorD.replace(".", "");
          valorD = valorD.replace(",", ".");
          value.Valor = valorD;
          if(fecha >= dI && fecha <= dF){
            console.log("HOLAFECHA");
            if (parseFloat(value.Valor) > maxDolar) {maxDolar = parseFloat(value.Valor)};
            if (parseFloat(value.Valor) < minDolar) {minDolar = parseFloat(value.Valor)};
            promDolar+=parseFloat(value.Valor);
            iD++;
            dataDolar.push(value);
            $("#data-dolar").append("<dt>" + value['Fecha'] + "</dt><dd>$"+ parseFloat(value.Valor) +"</dd>");
          }
        });
        $("#dolar-max").append("$"+maxDolar);
        $("#dolar-min").append("$"+minDolar);
        $("#dolar-prom").append("$"+parseFloat(promDolar/iD));
        console.log(dataDolar);
        // LINE CHART
        var line_dolar = new Morris.Line({
          element: 'line-chart-dolar',
          resize: true,
          data: dataDolar,
          xkey: 'Fecha',
          ykeys: ['Valor'],
          labels: ['Valor'],
          lineColors: ['#3c8dbc'],
          hideHover: 'auto'
        });
        $.ajax({
          url: 'http://api.sbif.cl/api-sbifv3/recursos_api/uf/posteriores/'+(yearI-1)+'?apikey=b8124793da9ca97350a3be40583dd49e1c07e51c&formato=json',
          type:  'get',
          success:  function (responseUF) {
            data = responseUF['UFs'];
            maxUF = 0;
            minUF = 10000000;
            promUF = 0;
            iUF=0;

            $.each(data, function(index, value){
              fecha = new Date(value['Fecha']);
              //Este extracto de código cambia el formato del JSON para poder manejar los valores como Float
              valorUF = value.Valor;
              valorUF = valorUF.replace(".", "");
              valorUF = valorUF.replace(",", ".");
              value.Valor = valorUF;
              if(fecha >= dI && fecha <= dF){
                if (parseFloat(value.Valor) > maxUF) {maxUF = parseFloat(value.Valor)};
                if (parseFloat(value.Valor) < minUF) {minUF = parseFloat(value.Valor)};
                promUF+=parseFloat(value.Valor);
                iUF++;
                dataUF.push(value);
                $("#data-uf").append("<dt>" + value['Fecha'] + "</dt><dd>$"+ parseFloat(value.Valor) +"</dd>");
              }
            });
            $("#uf-max").append("$"+maxUF);
            $("#uf-min").append("$"+minUF);
            $("#uf-prom").append("$"+parseFloat(promUF/iUF));
            console.log(dataUF);
            // LINE CHART
            var line_uf = new Morris.Line({
              element: 'line-chart-uf',
              resize: true,
              data: dataUF,
              xkey: 'Fecha',
              ykeys: ['Valor'],
              labels: ['Valor'],
              lineColors: ['#3c8dbc'],
              hideHover: 'auto'
            });
            $.ajax({
              url: 'http://api.sbif.cl/api-sbifv3/recursos_api/tmc/posteriores/'+(yearI-1)+'?apikey=b8124793da9ca97350a3be40583dd49e1c07e51c&formato=json',
              type:  'get',
              success:  function (responseTMC) {
                data = responseTMC['TMCs'];
                
                max26 = 0;
                max25 = 0;
                max45 = 0;
                max44 = 0;
                max35 = 0;
                max43 = 0;
                max21 = 0;
                max24 = 0;
                max22 = 0;
                max41 = 0;
                max42 = 0;
                max34 = 0;

                $.each(data, function(index, value){
                  //Este extracto de código cambia el formato del JSON para poder manejar los valores como Float
                  
                  fecha = new Date(value['Fecha']);

                  if(fecha >= dI && fecha <= dF){
                    
                    if(value.Tipo == "26"){
                      dataTMC26.push(value);
                      if(max26 <= value.Valor){max26 = value.Valor};
                      $("#data-tmc").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "25"){
                      dataTMC25.push(value);
                      if(max25 <= value.Valor){max25 = value.Valor};
                      $("#data-tmc2").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "45"){
                      dataTMC45.push(value);
                      if(max45 <= value.Valor){max45 = value.Valor};
                      $("#data-tmc3").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "44"){
                      dataTMC44.push(value);
                      if(max44 <= value.Valor){max44 = value.Valor};
                      $("#data-tmc4").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "35"){
                      dataTMC35.push(value);
                      if(max35 <= value.Valor){max35 = value.Valor};
                      $("#data-tmc5").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "43"){
                      dataTMC43.push(value);
                      if(max43 <= value.Valor){max43 = value.Valor};
                      $("#data-tmc6").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "21"){
                      dataTMC21.push(value);
                      if(max21 <= value.Valor){max21 = value.Valor};
                      $("#data-tmc7").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "24"){
                      dataTMC24.push(value);
                      if(max24 <= value.Valor){max24 = value.Valor};
                      $("#data-tmc8").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "22"){
                      dataTMC22.push(value);
                      if(max22 <= value.Valor){max22 = value.Valor};
                      $("#data-tmc9").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "41"){
                      dataTMC41.push(value);
                      if(max41 <= value.Valor){max41 = value.Valor};
                      $("#data-tmc10").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "42"){
                      dataTMC42.push(value);
                      if(max42 <= value.Valor){max42 = value.Valor};
                      $("#data-tmc11").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                    if(value.Tipo == "34"){
                      dataTMC34.push(value);
                      if(max34 <= value.Valor){max34 = value.Valor};
                      $("#data-tmc12").append("<dt>" + value['Fecha'] + "</dt><dd>"+ parseFloat(value.Valor) +"%</dd>");
                    }
                  }
                });

                $("#data-tmc").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max26 +"%</dd>");
                $("#data-tmc2").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max25 +"%</dd>");
                $("#data-tmc3").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max45 +"%</dd>");
                $("#data-tmc4").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max44 +"%</dd>");
                $("#data-tmc5").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max35 +"%</dd>");
                $("#data-tmc6").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max43 +"%</dd>");
                $("#data-tmc7").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max21 +"%</dd>");
                $("#data-tmc8").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max24 +"%</dd>");
                $("#data-tmc9").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max22 +"%</dd>");
                $("#data-tmc10").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max41 +"%</dd>");
                $("#data-tmc11").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max42 +"%</dd>");
                $("#data-tmc12").append("<dt>---</dt><dd></dd><dt>Valor máximo</dt><dd>"+ max34 +"%</dd>");

                dataTMC.push(dataTMC26);
                dataTMC.push(dataTMC25);
                dataTMC.push(dataTMC45);
                dataTMC.push(dataTMC44);
                dataTMC.push(dataTMC35);
                dataTMC.push(dataTMC43);
                dataTMC.push(dataTMC21);
                dataTMC.push(dataTMC24);
                dataTMC.push(dataTMC22);
                dataTMC.push(dataTMC41);
                dataTMC.push(dataTMC42);
                dataTMC.push(dataTMC34);

                
                
                console.log(dataTMC);
                // LINE CHART
                Morris.Line({
                  element: 'line-chart-tmc',
                  resize: true,
                  data: dataTMC[0],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });

                Morris.Line({
                  element: 'line-chart-tmc2',
                  resize: true,
                  data: dataTMC[1],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });

                Morris.Line({
                  element: 'line-chart-tmc3',
                  resize: true,
                  data: dataTMC[2],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });

                Morris.Line({
                  element: 'line-chart-tmc4',
                  resize: true,
                  data: dataTMC[3],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc5',
                  resize: true,
                  data: dataTMC[4],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc6',
                  resize: true,
                  data: dataTMC[5],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc7',
                  resize: true,
                  data: dataTMC[6],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc8',
                  resize: true,
                  data: dataTMC[7],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc9',
                  resize: true,
                  data: dataTMC[8],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc10',
                  resize: true,
                  data: dataTMC[9],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc11',
                  resize: true,
                  data: dataTMC[10],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });
                Morris.Line({
                  element: 'line-chart-tmc12',
                  resize: true,
                  data: dataTMC[11],
                  xkey: 'Fecha',
                  ykeys: ['Valor'],
                  labels: ['Valor'],
                  lineColors: ['#3c8dbc'],
                  hideHover: 'auto',
                  ymin: 0,
                  ymax: 100
                });

              },
              dataType: "json",
              async : true
            });
          },
          dataType: "json",
          async : true
        });
      },
      dataType: "json",
      async : true
    });
  }
</script>